@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  src: url("../public/assets/fonts/Vazir-FD-WOL.woff") format('woff');;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .join-item:checked{
    background-color: #85888f !important;
    color:white !important;
  }
  .join-item{
    background-color: #e3e4e5 !important ;
    border-color: #e3e4e5 !important;
    color:#a3a5a8 !important;
  }
  .card{
    border-radius: 0;
  }
}

*{
  box-sizing: border-box;
}

body {
  font-family: vazir;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
